
.bg-xosedev {
    background-color: black!important;
}

.bg-body {
    background-color: black;
}

.xosedev-img {
    padding: 10% 10% 10% 10%;
    width: 70%;
    height: auto;
 }

.letter {
    color: white;
}

